$backGroundColorBody: red;
$backGroundColorAside: rgb(0, 0, 0);
$backGroundColorNav: rgb(16, 37, 22);
$backGroundColorMenu: rgb(0, 0, 0);
$backGroundColorFooter: rgb(0, 29, 0);
$backGroundColorShare: rgb(229, 255, 0);
$colorText: white;
$backGroundColorAHover: rgba(66, 66, 66, 0.911);
